In [1]:
import pandas as pd
import common

## 1. Load the collected data into pandas-friendly data structures.

The Excel spreadsheet contains many sheets, each with one participant's data.
For these analyses, all trials will be loaded into a single dataframe.

In [2]:
def pid_from_sheet(sheet):
    """ Pull characters from sheet name before the first hyphen. """
    return sheet[: sheet.find('-')]

def row_is_data(neutral, hitmiss):
    """ Return True if row contains raw data. """
    if str(hitmiss).lower().strip("\"").strip("'") in ['hit', 'miss']:
        try:
            return 1000 < int(neutral) < 9999
        except TypeError:
            return False
    return False

def row_is_meta(neutral, hitrate):
    """ Return True if the row contains metadata. """
    if str(neutral).lower() in ['session', 'participant', ]:
        return True
    if 'anxiety' in str(hitrate).lower():
        return True
    if 'rate' in str(hitrate).lower():
        return True
    return False

def meta_in_row(row):
    """ Return one metadata (key, value) tuple from one row, with py-friendly naming """
    if 'hit rate' in str(row[6]).lower():
        try:
            return ('xl_hit_rate', float(row[7]))
        except ValueError:
            return ('xl_hit_rate', 0.0)
    elif 'state anxiety' in str(row[6]).lower():
        try:
            return ('state_anxiety', int(row[7]))
        except ValueError:
            return ('state_anxiety', 0)
    elif 'trait anxiety' in str(row[6]).lower():
        try:
            return ('trait_anxiety', int(row[7]))
        except ValueError:
            return ('trait_anxiety', 0)
    elif str(row[1]) in ['session', 'participant', ]:
        return (str(row[1]).lower(), str(row[2]))
    return None

def meta_from_df(df, sheet):
    """ Extract meta-data from the dataframe, return it as a dict. """
    meta_dict = {'sheet': sheet[: -4], 'pid': pid_from_sheet(sheet)}
    if str(df.columns[5]).lower() == 'hit rate':
        # For most sheets, meta 'Hit Rate' is embedded in the top row as a column header.
        # but this check is necessary because exactly one sheet moves it down a row. :(
        meta_dict['xl_hit_rate'] = float(df.columns[6])
    # after harvesting the Hit Rate value, rename it so it can act as an actual column name.
    df = df.rename({df.columns[6]: 'score'}, axis='columns')
    for row in df.itertuples():
        k, v = meta_in_row(row)
        meta_dict[k] = v
    # One sheet is missing meta_data, so fill it in.
    if 'session' not in meta_dict.keys():
        meta_dict['session'] = 1
    if 'participant' not in meta_dict.keys():
        meta_dict['participant'] = meta_dict['pid']
    return meta_dict

def harvest_sheets(xlf):
    """ Pull data from each sheet in sheets, return two dataframes. """
    dataframes = []
    metadicts = []
    cols_to_keep = ['Hit_Miss_raw', 'MaskedStim_raw', 'RT_raw', 'choice_raw', 'neutral']
    df_sex = None
    
    xl = pd.ExcelFile(xlf)
    print("{} data sheets were found".format(len(xl.sheet_names)))
    
    for i, sheet in enumerate(xl.sheet_names):
        if sheet.endswith(".tsv"):
            # Each tsv sheet contains complete results for each of 36 trials per participant
            pid = pid_from_sheet(sheet)
            print("  {:03}. loading {} from sheet '{}'".format(i + 1, pid, sheet))
            df = pd.read_excel(xlf, sheet)
            df['sheet'] = sheet[: -4]
            df['pid'] = pid
            df['datetime'] = sheet[sheet.find('-') + 1: -4]
            # The dataframe, df, has everything from the excel sheet, keep the raw data in df_data
            df_data = df[df.apply(lambda x: row_is_data(x[0], x[1]), axis=1)]
            dataframes.append(df_data[['sheet', 'pid', 'datetime', ] + cols_to_keep])
            # The dataframe, df, has everything from the excel sheet, keep the meta-data in df_meta
            df_meta = df[df.apply(lambda x: row_is_meta(x[0], x[5]), axis=1)]
            metadicts.append(meta_from_df(df_meta, sheet))
        elif sheet == "Gender":
            # This sheet appears to be the only place with sex information for all participants
            print("  {:03}. loading sex data from sheet '{}'".format(i + 1, sheet))
            df = pd.read_excel('data.xlsx', 'Gender')
            df_sex_f = df[['Female', ]].reindex()
            df_sex_f.columns = ['pid', ]
            df_sex_f['sex'] = 'F'
            df_sex_m = df[['Male', ]].reindex()
            df_sex_m.columns = ['pid', ]
            df_sex_m['sex'] = 'M'
            df_sex = pd.concat([df_sex_f.dropna(axis=0), df_sex_m.dropna(axis=0), ], axis=0).reindex()
            df_sex['sheet'] = df_sex['pid'].apply(lambda x: x[: -4])
            df_sex = df_sex.set_index('sheet')[['sex', ]]
            # Remove the duplicate sheet name entered twice in the Excel 'Gender' sheet.
            df_sex = df_sex[~df_sex.index.duplicated()]
        else:
            print("       ignoring sheet {}".format(sheet))
    
    # Concatenate participant metadata into a single dataframe.
    df_meta = pd.concat([pd.DataFrame(metadicts).set_index('sheet'), df_sex, ], axis=1, sort=True)

    # Concatenate all trials into a single dataframe, and add sex information.
    df_data = pd.concat(dataframes).reindex()
    df_data['sex'] = df_data['sheet'].map(df_meta['sex'])
    
    print("{} data sheets loaded; {} participants found; {:,} trials.".format(
        len(xl.sheet_names), df_meta.shape[0], df_data.shape[0]
    ))
    
    return df_meta, df_data

In [3]:
""" Read the Excel file and collect most of its data. 
    Save raw-data and meta-data out to separate tsv files.
"""
df_meta, df_data = harvest_sheets(common.source_file)

df_meta.to_csv(common.meta_file, sep="\t")
df_data.to_csv(common.data_file, index_label="sequence", sep="\t")

159 data sheets were found
  001. loading jg01 from sheet 'jg01-05-16-2016-15-07.tsv'
  002. loading ap01 from sheet 'ap01-05-16-2016-15-21.tsv'
  003. loading jb01 from sheet 'jb01-05-17-2016-15-12.tsv'
  004. loading kl00 from sheet 'kl00-05-17-2016-15-24.tsv'
  005. loading ka01 from sheet 'ka01-05-18-2016-14-28.tsv'
  006. loading jl01 from sheet 'jl01-05-18-2016-15-10.tsv'
  007. loading js01 from sheet 'js01-05-18-2016-15-23.tsv'
  008. loading bg01 from sheet 'bg01-05-19-2016-15-11.tsv'
  009. loading dz01 from sheet 'dz01-05-19-2016-15-38.tsv'
  010. loading gp01 from sheet 'gp01-05-23-2016-08-02.tsv'
  011. loading ja00 from sheet 'ja00-05-23-2016-15-02.tsv'
  012. loading rv99 from sheet 'rv99-05-24-2016-10-38.tsv'
  013. loading na99 from sheet 'na99-05-24-2016-13-39.tsv'
  014. loading vm99 from sheet 'vm99-05-24-2016-13-54.tsv'
  015. loading bf99 from sheet 'bf99-05-24-2016-15-30.tsv'
  016. loading yq99 from sheet 'yq99-05-24-2016-15-40.tsv'
  017. loading ad99 from sheet 'ad99-05-24-2016-15-59.tsv'
  018. loading rz00 from sheet 'rz00-05-24-2016-16-17.tsv'
  019. loading ds99 from sheet 'ds99-05-25-2016-08-09.tsv'
  020. loading zm01 from sheet 'zm01-05-25-2016-15-14.tsv'
  021. loading ca01 from sheet 'ca01-05-26-2016-15-12.tsv'
  022. loading tm98 from sheet 'tm98-05-26-2016-15-41.tsv'
  023. loading lkc99 from sheet 'lkc99-05-26-2016-15-48.tsv'
  024. loading mg98 from sheet 'mg98-05-26-2016-16-02.tsv'
  025. loading al99 from sheet 'al99-05-26-2016-16-15.tsv'
  026. loading sn00 from sheet 'sn00-06-01-2016-08-09.tsv'
  027. loading zd00 from sheet 'zd00-06-01-2016-08-18.tsv'
  028. loading mm01 from sheet 'mm01-06-09-2016-11-49.tsv'
  029. loading ap01 from sheet 'ap01-06-09-2016-12-00.tsv'
  030. loading rs01 from sheet 'rs01-06-09-2016-12-12.tsv'
  031. loading ra01 from sheet 'ra01-06-09-2016-12-22.tsv'
  032. loading dm01 from sheet 'dm01-06-09-2016-12-35.tsv'
  033. loading rr99 from sheet 'rr99-09-15-2016-14-26.tsv'
  034. loading cc99 from sheet 'cc99-09-15-2016-14-26.tsv'
  035. loading aa00 from sheet 'aa00-09-15-2016-14-26.tsv'
  036. loading cb01 from sheet 'cb01-09-16-2016-11-37.tsv'
  037. loading sb99 from sheet 'sb99-09-21-2016-10-44.tsv'
  038. loading aw99 from sheet 'aw99-09-21-2016-10-46.tsv'
  039. loading dm99 from sheet 'dm99-09-21-2016-10-45.tsv'
  040. loading ab99 from sheet 'ab99-09-21-2016-10-46.tsv'
  041. loading as02 from sheet 'as02-09-22-2016-15-13.tsv'
  042. loading ys00 from sheet 'ys00-09-22-2016-15-12.tsv'
  043. loading jp02 from sheet 'jp02-09-22-2016-15-14.tsv'
  044. loading jg99 from sheet 'jg99-09-23-2016-10-01.tsv'
  045. loading cp02 from sheet 'cp02-09-23-2016-15-10.tsv'
  046. loading pp97 from sheet 'pp97-09-23-2016-15-13.tsv'
  047. loading pp99 from sheet 'pp99-09-23-2016-15-11.tsv'
  048. loading ap02 from sheet 'ap02-09-23-2016-15-11.tsv'
  049. loading ad02 from sheet 'ad02-09-23-2016-15-17.tsv'
  050. loading ja01 from sheet 'ja01-09-26-2016-14-19.tsv'
  051. loading jr98 from sheet 'jr98-09-26-2016-14-24.tsv'
  052. loading hc98 from sheet 'hc98-09-26-2016-14-25.tsv'
  053. loading ec00 from sheet 'ec00-09-27-2016-15-07.tsv'
  054. loading ap99 from sheet 'ap99-09-27-2016-15-09.tsv'
  055. loading ak02 from sheet 'ak02-09-27-2016-15-08.tsv'
  056. loading kg02 from sheet 'kg02-09-27-2016-15-15.tsv'
  057. loading sc98 from sheet 'sc98-10-03-2016-10-32.tsv'
  058. loading jg99 from sheet 'jg99-10-03-2016-10-35.tsv'
  059. loading ak99 from sheet 'ak99-10-03-2016-10-34.tsv'
  060. loading dc00 from sheet 'dc00-10-04-2016-15-09.tsv'
  061. loading ah00 from sheet 'ah00-10-04-2016-15-08.tsv'
  062. loading jr00 from sheet 'jr00-10-04-2016-15-09.tsv'
  063. loading sp98 from sheet 'sp98-10-05-2016-09-47.tsv'
  064. loading am99 from sheet 'am99-10-05-2016-09-47.tsv'
  065. loading sy98 from sheet 'sy98-10-05-2016-09-46.tsv'
  066. loading ss99 from sheet 'ss99-10-12-2016-08-50.tsv'
  067. loading tc99 from sheet 'tc99-10-13-2016-12-01.tsv'
  068. loading ls99 from sheet 'ls99-10-13-2016-12-02.tsv'
  069. loading mb99 from sheet 'mb99-10-13-2016-12-02.tsv'
  070. loading ey99 from sheet 'ey99-10-13-2016-12-02.tsv'
  071. loading om00 from sheet 'om00-10-13-2016-12-17.tsv'
  072. loading xh99 from sheet 'xh99-10-13-2016-12-19.tsv'
  073. loading jw99 from sheet 'jw99-10-13-2016-12-16.tsv'
  074. loading kt99 from sheet 'kt99-10-13-2016-14-32.tsv'
  075. loading cp99 from sheet 'cp99-10-13-2016-14-31.tsv'
  076. loading cs00 from sheet 'cs00-10-13-2016-14-32.tsv'
  077. loading fo99 from sheet 'fo99-10-13-2016-12-28.tsv'
  078. loading hy98 from sheet 'hy98-10-13-2016-12-44.tsv'
  079. loading np00 from sheet 'np00-10-14-2016-10-36.tsv'
  080. loading qh00 from sheet 'qh00-10-14-2016-10-44.tsv'
  081. loading ma00 from sheet 'ma00-10-14-2016-10-44.tsv'
  082. loading mn00 from sheet 'mn00-10-14-2016-10-36.tsv'
  083. loading mk99 from sheet 'mk99-10-14-2016-10-37.tsv'
  084. loading gc00 from sheet 'gc00-10-17-2016-11-20.tsv'
  085. loading zl98 from sheet 'zl98-10-18-2016-09-47.tsv'
  086. loading et99 from sheet 'et99-10-18-2016-09-48.tsv'
  087. loading sd99 from sheet 'sd99-10-18-2016-09-46.tsv'
  088. loading mp99 from sheet 'mp99-10-18-2016-15-03.tsv'
  089. loading pp99 from sheet 'pp99-10-18-2016-15-02.tsv'
  090. loading jb99 from sheet 'jb99-10-18-2016-15-03.tsv'
  091. loading pk02 from sheet 'pk02-10-18-2016-15-14.tsv'
  092. loading sn99 from sheet 'sn99-10-18-2016-15-02.tsv'
  093. loading ev00 from sheet 'ev00-08-02-2017-11-04.tsv'
  094. loading el00 from sheet 'el00-08-02-2017-11-28.tsv'
  095. loading ci00 from sheet 'ci00-08-02-2017-11-27.tsv'
  096. loading sl00 from sheet 'sl00-08-02-2017-11-28.tsv'
  097. loading il00 from sheet 'il00-08-02-2017-11-28.tsv'
  098. loading ges00 from sheet 'ges00-08-02-2017-11-51.tsv'
  099. loading ja00 from sheet 'ja00-08-02-2017-11-48.tsv'
  100. loading es00 from sheet 'es00-08-02-2017-11-46.tsv'
  101. loading bf00 from sheet 'bf00-08-02-2017-12-13.tsv'
  102. loading ds00 from sheet 'ds00-08-02-2017-12-13.tsv'
  103. loading cs00 from sheet 'cs00-08-02-2017-12-15.tsv'
  104. loading af00 from sheet 'af00-08-02-2017-12-16.tsv'
  105. loading mm00 from sheet 'mm00-08-02-2017-13-10.tsv'
  106. loading mk00 from sheet 'mk00-08-02-2017-13-11.tsv'
  107. loading gb00 from sheet 'gb00-08-02-2017-13-10.tsv'
  108. loading ac00 from sheet 'ac00-08-02-2017-13-12.tsv'
  109. loading es01 from sheet 'es01-08-03-2017-17-45.tsv'
  110. loading fp00 from sheet 'fp00-08-03-2017-11-22.tsv'
  111. loading ms00 from sheet 'ms00-08-03-2017-11-22.tsv'
  112. loading aap00 from sheet 'aap00-08-03-2017-12-33.tsv'
  113. loading km00 from sheet 'km00-08-03-2017-12-32.tsv'
  114. loading de00 from sheet 'de00-08-03-2017-12-31.tsv'
  115. loading dn00 from sheet 'dn00-08-03-2017-11-42.tsv'
  116. loading br00 from sheet 'br00-08-03-2017-11-41.tsv'
  117. loading vd00 from sheet 'vd00-01-18-2018-10-42.tsv'
  118. loading sb000 from sheet 'sb000-01-18-2018-10-36.tsv'
  119. loading jb00 from sheet 'jb00-01-18-2018-10-37.tsv'
  120. loading kl99 from sheet 'kl99-01-18-2018-10-34.tsv'
  121. loading jh00 from sheet 'jh00-01-18-2018-10-15.tsv'
  122. loading kr00 from sheet 'kr00-01-18-2018-10-05.tsv'
  123. loading mm00 from sheet 'mm00-01-18-2018-12-08.tsv'
  124. loading sm01 from sheet 'sm01-01-18-2018-09-59.tsv'
  125. loading ls00 from sheet 'ls00-01-18-2018-09-56.tsv'
  126. loading kr00 from sheet 'kr00-01-18-2018-10-58.tsv'
  127. loading gj00 from sheet 'gj00-01-18-2018-10-58.tsv'
  128. loading ac00 from sheet 'ac00-01-18-2018-10-54.tsv'
  129. loading ck00 from sheet 'ck00-01-18-2018-10-50.tsv'
  130. loading jg00 from sheet 'jg00-01-18-2018-10-48.tsv'
  131. loading jh01 from sheet 'jh01-01-16-2018-14-15.tsv'
  132. loading ms01 from sheet 'ms01-01-18-2018-13-33.tsv'
  133. loading kp01 from sheet 'kp01-01-18-2018-13-33.tsv'
  134. loading js02 from sheet 'js02-01-18-2018-13-32.tsv'
  135. loading kk99 from sheet 'kk99-01-18-2018-13-01.tsv'
  136. loading ms00 from sheet 'ms00-01-18-2018-10-59.tsv'
  137. loading cs00 from sheet 'cs00-01-18-2018-09-01.tsv'
  138. loading yk00 from sheet 'yk00-01-18-2018-09-43.tsv'
  139. loading mg00 from sheet 'mg00-01-18-2018-10-47.tsv'
  140. loading ns00 from sheet 'ns00-01-18-2018-10-44.tsv'
  141. loading sh00 from sheet 'sh00-01-16-2018-14-14.tsv'
  142. loading ev99 from sheet 'ev99-08-15-2018-10-06.tsv'
  143. loading in03 from sheet 'in03-08-15-2018-11-07.tsv'
  144. loading ab02 from sheet 'ab02-08-15-2018-13-11.tsv'
  145. loading rp02 from sheet 'rp02-08-16-2018-13-17.tsv'
       ignoring sheet Compiled All Subjects
       ignoring sheet Sheet2
       ignoring sheet Correlation tests
  149. loading sex data from sheet 'Gender'
       ignoring sheet Correlation tests (Gender)
       ignoring sheet Compiled and Gender
       ignoring sheet New T-Test
       ignoring sheet New Correlation 1
       ignoring sheet New Correlation 2
       ignoring sheet New Correlation (F)
       ignoring sheet New Correlation (M)
       ignoring sheet one sample t-test (F)
       ignoring sheet one sample t-test (M)
       ignoring sheet two sample t-test (gender)
159 data sheets loaded; 145 participants found; 5,220 trials.

In [4]:
# Sanity check
df_meta.sample(8)

,pid,xl_hit_rate,state_anxiety,trait_anxiety,session,participant,sex
sheet,,,,,,,
mp99-10-18-2016-15-03,mp99,0.555556,35,31,1,mp99,M
ak02-09-27-2016-15-08,ak02,0.444444,31,45,1,ak02,F
jr00-10-04-2016-15-09,jr00,0.583333,50,49,1,jr00,F
ns00-01-18-2018-10-44,ns00,0.555556,52,50,1,ns00,F
ci00-08-02-2017-11-27,ci00,0.472222,35,46,1,ci00,M
ges00-08-02-2017-11-51,ges00,0.555556,46,51,1,ges00,F
hy98-10-13-2016-12-44,hy98,0.416667,38,37,1,hy98,M
ja00-05-23-2016-15-02,ja00,0.472222,0,0,1,ja00,NaN

In [5]:
# Sanity check
df_data.sample(8)

,sheet,pid,datetime,Hit_Miss_raw,MaskedStim_raw,RT_raw,choice_raw,neutral,sex
15,pk02-10-18-2016-15-14,pk02,10-18-2016-15-14,'Miss','/Users/researchstudent3/Dropbox/sarika2/IAPS2...,8.866065,'slash',2038,M
19,kk99-01-18-2018-13-01,kk99,01-18-2018-13-01,'Miss','/Users/SarikaArora/Dropbox/sarika2/IAPS2008/6...,4.385511,'z',7140,F
24,yk00-01-18-2018-09-43,yk00,01-18-2018-09-43,'Hit','/Users/scienceresearch2/Dropbox/sarika2/IAPS2...,14.212268,'slash',7233,M
1,vm99-05-24-2016-13-54,vm99,05-24-2016-13-54,'Hit','/Users/SarikaArora/Dropbox/sarika2/IAPS2008/8...,2.377178,'slash',5130,F
24,xh99-10-13-2016-12-19,xh99,10-13-2016-12-19,'Hit','/Users/researchstudent1/Dropbox/sarika2/IAPS2...,1.536788,'slash',7233,M
34,kl99-01-18-2018-10-34,kl99,01-18-2018-10-34,'Miss','/Users/scienceresearch2/Dropbox/sarika2/IAPS2...,2.913352,'slash',2480,M
35,kp01-01-18-2018-13-33,kp01,01-18-2018-13-33,'Miss','/Users/scienceresearch3/Dropbox/sarika2/IAPS2...,17.638926,'slash',5740,M
19,kl00-05-17-2016-15-24,kl00,05-17-2016-15-24,'Hit','/Users/SarikaArora/Dropbox/sarika2/IAPS2008/5...,4.036808,'slash',7140,F

In [6]:
# Error check - We need to drop these from sex comparisons if we do not know the sex.
df_meta[df_meta.isna().any(axis=1)]

,pid,xl_hit_rate,state_anxiety,trait_anxiety,session,participant,sex
sheet,,,,,,,
ja00-05-23-2016-15-02,ja00,0.472222,0,0,1,ja00,NaN
km00-08-03-2017-12-32,km00,0.583333,40,43,1,km00,NaN
mk99-10-14-2016-10-37,mk99,0.444444,61,43,1,mk99,NaN

In [7]:
# Error check - We only kept actual data, so probably fine here.
# Just missing three participants' sex information (36 * 3 = 108 rows)
df_data[df_data.isna().any(axis=1)]

,sheet,pid,datetime,Hit_Miss_raw,MaskedStim_raw,RT_raw,choice_raw,neutral,sex
0,ja00-05-23-2016-15-02,ja00,05-23-2016-15-02,'Miss','/Users/SarikaArora/Dropbox/sarika2/IAPS2008/6...,1.792425,'slash',7700,NaN
1,ja00-05-23-2016-15-02,ja00,05-23-2016-15-02,'Miss','/Users/SarikaArora/Dropbox/sarika2/IAPS2008/3...,1.699087,'z',5130,NaN
2,ja00-05-23-2016-15-02,ja00,05-23-2016-15-02,'Miss','/Users/SarikaArora/Dropbox/sarika2/IAPS2008/6...,16.663343,'z',9360,NaN
3,ja00-05-23-2016-15-02,ja00,05-23-2016-15-02,'Miss','/Users/SarikaArora/Dropbox/sarika2/IAPS2008/6...,3.151378,'slash',7031,NaN
4,ja00-05-23-2016-15-02,ja00,05-23-2016-15-02,'Hit','/Users/SarikaArora/Dropbox/sarika2/IAPS2008/5...,1.272671,'z',7040,NaN
...,...,...,...,...,...,...,...,...,...
31,km00-08-03-2017-12-32,km00,08-03-2017-12-32,'Miss','/Users/scienceresearch2/Dropbox/sarika2/IAPS2...,5.703349,'slash',5731,NaN
32,km00-08-03-2017-12-32,km00,08-03-2017-12-32,'Hit','/Users/scienceresearch2/Dropbox/sarika2/IAPS2...,5.844194,'z',7547,NaN
33,km00-08-03-2017-12-32,km00,08-03-2017-12-32,'Hit','/Users/scienceresearch2/Dropbox/sarika2/IAPS2...,2.206360,'slash',7060,NaN
34,km00-08-03-2017-12-32,km00,08-03-2017-12-32,'Hit','/Users/scienceresearch2/Dropbox/sarika2/IAPS2...,6.688367,'z',2480,NaN
35,km00-08-03-2017-12-32,km00,08-03-2017-12-32,'Hit','/Users/scienceresearch2/Dropbox/sarika2/IAPS2...,4.846214,'z',5740,NaN